APP_NAME=sankalp
APP_ENV=local
APP_KEY=base64:/C9OMlriJTtq2LNhYZnmh9Hp2n+PjyIjQCdNwO6RfCs=
APP_DEBUG=true
APP_URL=http://localhost/sankalp

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sankalp
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=surajsil2908@gmail.com
MAIL_PASSWORD=tqynsthbpufrprip
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=sankalp@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_EMAIL=surajitsil2908@gmail.com
