@charset"utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/*@font-face {
  font-family: 'poppinsthin';
  src: url('../fonts/poppins/poppins-thin-webfont.woff2') format('woff2'),
       url('../fonts/poppins/poppins-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #68613b;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    background-color: #ffffff;
}

div,
table,
td,
tr,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article,
figure {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a,
input,
textarea,
button {
    outline: 0;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
    border-color: #2e364a !important;
    box-shadow: none !important;
    outline: none;
}

select {
    outline: 0;
}

input::placeholder {
    opacity: 1;
}

a {
    text-decoration: none;
    border: none;
    outline: 0;
    color: #68613b;
}

a:hover {
    text-decoration: none;
    border: none;
    outline: 0;
    color: #ffcd00;
}

a:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}

button,
button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}

ul,
ol,
ul li,
ol li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p:empty {
    display: none;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

body::selection {
    background: #00589e;
    color: #ffffff;
}

body::-moz-selection {
    background: #00589e;
    color: #ffffff;
}

p {
    font-size: 16px;
    color: #68613b;
    line-height: 25px;
}


/*================= Global Style =================*/
.dFlx {
    display: flex;
    flex-wrap: wrap;
}

.spaceBet {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.flLeft {
    float: left;
}

.flRight {
    float: right;
}

.halfWidthField {
    position: relative;
    width: 48%;
    margin-bottom: 22px;
}

.FullWidthField {
    position: relative;
    width: 100%;
    margin-bottom: 22px;
}

.SKPformField label {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #68613b;
    line-height: 1;
    margin-bottom: 10px;
}

.SKPformField input,
.SKPformField textarea {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 16px;
    color: #2e364a;
}

.SKPformField textarea {
    resize: none;
    height: 150px;
    padding: 15px 15px;
}

.SKPformField input:focus,
.SKPformField textarea:focus,
.SKPformField input:hover,
.SKPformField textarea:hover {
    border-color: #ffcd00 !important;
}

.SKPformField .checkBox li {
    line-height: 1.2;
    margin-bottom: 8px;
}

.SKPformField .checkBox li:last-child {
    margin-bottom: 0;
}

.SKPformField .checkBox input[type=checkbox] {
    display: none;
}

.SKPformField .checkBox label {
    font-size: 16px;
    color: #68613b;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
    cursor: pointer;
}

.SKPformField .checkBox input[type=checkbox]+label {
    position: relative;
    margin-left: 18px;
}

.SKPformField .checkBox input[type=checkbox]+label::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #b5b5b5;
    border-radius: 2px;
    top: 0;
    left: -18px;
}

.SKPformField .checkBox input[type=checkbox]:checked+label::after {
    border-color: #ffffff;
    background-color: #ffcd00;
}

.SKPformField .checkBox input[type=checkbox]:checked+label::before {
    position: absolute;
    content: '';
    width: 11px;
    height: 6px;
    transform: translateX(10px) rotate(-45deg);
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    left: -24px;
    top: 4px;
    z-index: 2;
}

.yellowBtn {
    display: inline-block;
    font-size: 16px !important;
    color: #332524 !important;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffd422 !important;
    border: none !important;
    border-radius: 10px !important;
    width: auto !important;
    height: auto !important;
    padding: 13px 30px !important;
}

.yellowBtn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
    transform: translateY(-4px);
}

.borderBtn {
    display: inline-block;
    font-size: 16px;
    color: #332524;
    font-weight: 700;
    border: 2px solid #ffd422 !important;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 13px 30px;
    background-color: transparent;
}

.borderBtn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
    transform: translateY(-4px);
    background-color: #ffd422;
    color: #332524;
}

.clear {
    display: table;
    width: 100%;
    float: none;
    clear: both;
}

.textCenter {
    text-align: center;
}

.copyright {
    font-size: 14px;
    color: #68613b;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
}

.mb20 {
    margin-bottom: 20px;
}

/*=========================== Header & Left Panel Section Style Sheet Start Here ===========================*/
.headerSec {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.hdrRightPrt ul li {
    margin-left: 10px;
}

.hdrRightPrt ul li:first-child {
    margin-left: 0;
    margin-right: 20px;
}

.hdrLightBtn {
    display: inline-block;
    font-size: 13px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffd422;
    border: none;
    border-radius: 6px;
    width: auto;
    height: auto;
    padding: 5px 20px;
}

.hdrLightBtn:hover {
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}

.hdrYellowBtn {
    display: inline-block;
    font-size: 13px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffd422;
    border: none;
    border-radius: 6px;
    width: auto;
    height: auto;
    padding: 5px 20px;
}

.hdrYellowBtn:hover {
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}



.searchModal .modal-content {
    background-color: transparent;
    border: none;
}

.searchModal .modal-body {
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-family: "Times New Roman", Sans-serif;
    font-size: 22px;
    color: #ffffff;
}

.searchModal button.close {
    position: relative;
    top: -40px;
    text-align: right;
    opacity: 1;
}

.searchModal button.close img {
    max-width: 15px;
}

.modal.fade {
    transition: unset !important;
}

.modal.show {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.show .modal-dialog {
    position: absolute;
    width: 60%;
    max-width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: unset !important;
}


.bodySec {
    position: relative;
    width: 100%;
}

.bodyLeftPanel {
    width: 20%;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bodyLeftPanel nav {
    padding-right: 25px;
    width: 100%;
}

.bodyLeftPanel nav li {
    font-size: 16px;
    color: #484d54;
    font-weight: 700;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.bodyLeftPanel nav li a {
    position: relative;
    color: #484d54;
    padding: 10px 15px 10px 10px;
    display: inline-block;
    width: 100%;
}

.bodyLeftPanel nav li a.accordion-heading:after {
    position: absolute;
    content: '';
    background: url(../images/menu-down-icon.png) no-repeat 0 0;
    width: 7px;
    height: 4px;
    top: 22px;
    right: 0;
}
.bodyLeftPanel nav li a.accordion-heading2:after {
    position: absolute;
    content: '';
    background: url(../images/menu-down-icon.png) no-repeat 0 0;
    width: 7px;
    height: 4px;
    top: 18px;
    right: 0;
}
.bodyLeftPanel nav li a .fa {
    margin-right: 10px;
    font-size: 18px;
}

.bodyLeftPanel nav li a.active {
    background-color: #fffae5;
    color: #fcba1c;
    border-radius: 0 10px 10px 0;
}

.bodyLeftPanel nav li li {
    margin-top: 0;
    font-size: 15px;
    font-weight: normal;
    margin-left: 30px;
    line-height: 25px;
}

.bodyLeftPanel nav li li a {
    padding: 5px 15px 5px 10px;
}

.bodyLeftPanel nav li a.accordion-heading.active~ul.collapse {
    display: flex !important;
}


.bodyLeftPanel .copyright {
    font-weight: normal;
    letter-spacing: 0;
    padding: 15px 10px;
}


.bodyRightPanel {
    position: relative;
    width: 80%;
    background-color: #f8fafc;
    padding: 40px 30px;
}

.breadcrumbSec {
    margin-bottom: 40px;
}

.breadcrumbSec li {
    position: relative;
    font-size: 14px;
    color: #484d56;
    margin-left: 30px;
}

.breadcrumbSec li:first-child {
    margin-left: 0;
}

.breadcrumbSec li:not(:first-child):before {
    position: absolute;
    content: '>';
    font-size: 16px;
    color: #a5a9b0;
    left: -20px;
}

.breadcrumbSec li a {
    color: #a5a9b0;
}

.breadcrumbSec li a:hover {
    color: #ffca29;
}

/*=========================== Header & Left Panel Section Style Sheet End Here ===========================*/


/*=========================== Home Page Style Sheet Start Here ===========================*/
.homeTopHdnArea {
    position: relative;
    margin-bottom: 40px;
}

.homeTopHdnArea h1 {
    font-size: 24px;
    color: #2a3442;
    margin-bottom: 15px;
}

.homeTopHdnArea h1 img {
    position: relative;
    margin-left: 10px;
    top: -5px;
}

.homeBody .homeFourClm {
    width: 48.5%;
    border: 1px solid #e9e9ea;
    border-left-width: 10px;
    border-radius: 10px;
    padding: 25px 20px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.homeBody .homeFourClm:hover {
    border-left-color: #ffcd00;
}

.homeBody .homeFourClm h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.homeApplicatioUpcomingArea {
    margin-top: 50px;
}

.homeApplicatioUpcomingArea h2 {
    font-size: 20px;
    color: #404449;
    margin-bottom: 30px;
}

.homeRightApplicationArea {
    position: relative;
    width: 55%;
}

.homeRightApplicationArea ul {
    margin: 0 -7px;
    justify-content: flex-start;
}

.homeRightApplicationArea ul li {
    width: 25%;
    padding: 0 7px;
    margin-bottom: 15px;
}

.homeRightApplicationArea .homeAplctionItem {
    width: 100%;
    height: 130px;
    text-align: center;
}

.homeRightApplicationArea .homeAplctionItem a {
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 22px 10px;
}

.homeRightApplicationArea .homeAplctionItem a:hover {
    border-color: #ffcd00;
}

.homeRightApplicationArea .homeAplctionItem h3 {
    font-size: 13px;
    color: #646d7b;
    margin-top: 15px;
}




.homeRightUpcomingArea {
    position: relative;
    width: 40%;
}

.homeRightUpcomingArea p {
    background-color: #f1f4f6;
    padding: 20px 15px;
    border-radius: 6px;
}

/*=========================== Home Page Style Sheet End Here ===========================*/



/*=========================== Contact Us Page Style Sheet Start Here ===========================*/
.contactFormArea .contactFormLeftClm,
.contactFormArea .contactFormRightClm {
    width: 49%;
}

.captchaRow {
    margin-bottom: 20px;
}

.captchaRow .captchaField {
    width: 50%;
}

.captchaRow .captchaImg {
    width: 30%;
    margin-left: 5%;
}

.captchaRow .captchaImg img {
    width: 100%;
    border-radius: 5px;
}

.captchaRow .captchaReloadIcon {
    width: 10%;
    margin-left: 5%;
    text-align: center;
}

.contactFormArea.SKPformField textarea {
    height: 187px;
}

.SKPformField .FullWidthField input[type=submit] {
    width: 100% !important;
}

.contactFormArea .termsService {
    font-size: 14px;
    color: #9a9a9a;
    line-height: 20px;
}

.contactFormArea .termsService a {
    color: #363b40;
    text-decoration: underline;
}

.contactFormArea .termsService a:hover {
    color: #363b40;
    text-decoration: none;
}





.orderTrackModal.show .modal-dialog {
    width: 45%;
    max-width: 45%;
}

.orderTrackModal button.close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 10px;
    right: 15px;
    z-index: 2;
}

.orderTrackModal .modal-body {
    position: relative;
    overflow-y: auto;
    min-height: 100px !important;
    max-height: 600px !important;
    padding: 30px 30px;
}

.orderTrackModal .modal-body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.orderTrackModal .modal-body h2 {
    font-size: 26px;
    color: #35383d;
    text-align: center;
    margin-bottom: 40px;
}

.orderTrackModal .SKPformField {
    padding: 0 50px;
}

.modalOrderStatus {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #cdcdcd;
}

.modalOrderStatus h3 {
    font-size: 18px;
    color: #35383d;
    font-weight: bold;
    margin-bottom: 30px;
}

.modalOrderStatus ul li {
    position: relative;
    margin: 7px 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0 0 30px 50px;
    min-height: 80px;
    overflow-y: hidden;
}

.modalOrderStatus ul li:last-child {
    margin-bottom: 0;
    min-height: inherit;
}

.modalOrderStatus ul li:after {
    position: absolute;
    content: '';
    bottom: -28px;
    left: 14px;
    width: 1px;
    height: 100%;
    /*border-left: 1px dashed #bfbebe;*/
    background: url(../images/order-status-dash-border.png) repeat 0 0;
}

.modalOrderStatus ul li:last-child:after {
    display: none;
}

.modalOrderStatus ul li.statusOrder {
    background-image: url(../images/order-status-board-icon-disable.png);
    background-position: 5px 0;
}

.modalOrderStatus ul li.statusOrder.active {
    background-image: url(../images/order-status-board-icon-active.png);
}

.modalOrderStatus ul li.statusOrder h4 {
    font-size: 14px;
    color: #4b4c52;
    font-weight: bold;
    text-transform: uppercase;
}

.modalOrderStatus ul li.orderPlaced,
.modalOrderStatus ul li.orderConfirmed {
    background-image: url(../images/order-placed-icon-disable.png);
    background-position: 6px 2px;
    position: relative;
}

.modalOrderStatus ul li.orderPlaced.active,
.modalOrderStatus ul li.orderConfirmed.active {
    background-image: url(../images/order-placed-icon-active.png);
}

.modalOrderStatus ul li.orderPlaced h4,
.modalOrderStatus ul li.orderConfirmed h4 {
    font-size: 15px;
    color: #7a7c84;
    margin-bottom: 5px;
}

.modalOrderStatus ul li.orderPlaced .orderNumber,
.modalOrderStatus ul li.orderConfirmed .orderNumber {
    font-size: 13px;
    color: #4b4c52;
    line-height: 18px;
    width: 50%;
}

.modalOrderStatus ul li.orderPlaced .orderTime,
.modalOrderStatus ul li.orderConfirmed .orderTime {
    font-size: 12px;
    color: #c1c1c3;
    line-height: 18px;
    text-transform: uppercase;
}

.modalOrderStatus ul li.statusProduction {
    background-image: url(../images/order-production-icon-disable.png);
}

.modalOrderStatus ul li.statusProduction.active {
    background-image: url(../images/order-production-icon-active.png);
}

.modalOrderStatus ul li.statusPacking {
    background-image: url(../images/order-packing-icon-disable.png);
}

.modalOrderStatus ul li.statusPacking.active {
    background-image: url(../images/order-packing-icon-active.png);
}

.modalOrderStatus ul li.statusDelivery {
    background-image: url(../images/order-delivery-icon-disable.png);
}

.modalOrderStatus ul li.statusDelivery.active {
    background-image: url(../images/order-delivery-icon-active.png);
}

.modalOrderStatus ul li.statusProduction h4,
.modalOrderStatus ul li.statusPacking h4,
.modalOrderStatus ul li.statusDelivery h4 {
    font-size: 16px;
    color: #bfbebe;
    text-transform: uppercase;
}

/*=========================== Contact Us Page Style Sheet End Here ===========================*/


/*=========================== Product List Page Style Sheet Start Here ===========================*/
.productItem {
    position: relative;
    background-color: #ffffff;
    text-align: center;
    border-radius: 8px;
    width: 32%;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.productListSec .productTitleOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.productListSec .productItem:hover .productTitleOverlay {
    opacity: 1;
    visibility: visible;
}

.productListSec .productTitleOverlay h2 {
    font-size: 18px;
    color: #ffca29;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.productListSec .productTitleOverlay ul.dFlx {
    justify-content: center;
}

.productListSec .productTitleOverlay a.yellowBtn {
    font-size: 13px !important;
    border-radius: 6px !important;
    padding: 4px 15px !important;
}

.productListSec .productTitleOverlay p {
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 10px;
}

.productListSec .productTitleOverlay p a {
    color: #ffffff;
    text-decoration: underline;
}

.productListSec .productTitleOverlay p a:hover {
    color: #ffffff;
    text-decoration: none;
}

/*=========================== Product List Page Style Sheet End Here ===========================*/
.SKPformField label.error{
    color: red;
    font-size: 14px;
    margin: 7px 0px 0px 5px;
}
#reload img {
    cursor: pointer;
}
.abpositation{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
}
.abpositation ul.orderTrack{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end;
}
.abpositation ul.orderTrack li{
    width: 30px;
    background: #f0f0f0;
    border: solid 1px #dedede;
    text-align: center;
    line-height: 29px;
    padding: 0;
    min-height: auto;
    overflow: inherit;
    margin: 0;
    color: #969696;
    border-radius: 5px;
    height: 30px;
    margin: 0 3px 3px 0;
    font-size: 13px;
    font-weight: 600;
}
.abpositation ul.orderTrack li:after{
    display: none;
}
.abpositation ul.orderTrack li.active{
    background: #ffe496;
    border: solid 1px #ffd55c;
    color: #4b4c52;
}


